@import "tailwindcss";

@theme {
--ivory: oklch(0.8500 0.0400 106.80);
--cinnabar: oklch(0.9200 0.0300 97.00);
--onyx: oklch(0.9700 0.0200 90.00);
--steel-blue: oklch(0.9400 0.0300 79.00);
--keppel: oklch(0.7000 0.0600 64.00);
--text-primary: oklch(0.0147 0.0108 176.24);
}
